:root {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 2.5vw, 26px);

    --lightest-color: #E0E0E0;
    --dark-color: #444444;
    --gray-color: #888888;
    --light-gray-color: #B0B0B0;
}

body {
    margin: 0 auto;
    background: url('./media/background.jpg');
    color: white;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

button {
    border-radius: 20px;
    padding: 15px;
    font-size: 1.2rem;
    background-color: var(--dark-color);
    color: var(--lightest-color);
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--lightest-color);
    color: black;
    transform: scale(1.1);
}

#see-saved, #save-pic {
    width: clamp(5px, 20%, 60px);
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.save-logo {
    display: block;
    width: 100%;
}

#pics-calendar {
    position: relative;
}

#picture-of-the-day {
    border: 5px solid var(--gray-color);
    display: block;
    margin: auto;
    width: clamp(40px, 70vw, 400px);
    height: clamp(40px, 70vw, 400px);
    border-radius: 20px;
    transform: all 0.3s ease;
}

#info {
    width: clamp(40px, 70vw, 500px);
    padding: clamp(5px, 1%, 10px);
    opacity: 0;
    text-align: center;
    font-size: 1.3rem;

    display: block;
    margin: auto;
    position: absolute;
    top: 20%;
    left: calc(50% - clamp(40px, 70vw, 500px) / 2 - 8px );

    transition: opacity 0.3s ease;
}

#controls {
    display: flex;
    flex-direction: row;
    width: clamp(70%, 40vw, 300px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#date {
    display: block;
    background-color: var(--light-gray-color);
    color: black;
    border-radius: 20px;
    padding: 10px
}

/* #region: fullScreenDialog */

#full-screen {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: var(--dark-color);
    color: var(--lightest-color);

    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 5px;

    min-height: 70%;
    max-width: 90vw;
}

#full-screen[open] {
    display: grid;
}

#full-screen:not([open]) {
    display: none;
}

#save-pic {
    position: absolute;
    left: 0;
    top: 0;
}

#close-full-screen {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 0 0 0 20px;
}

#hd-image {
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 60vw;
    display: block;
    margin: auto;
    transition: blur 0.3s ease;
}

#img-title {
    text-align: center;
}

#explanation {
    font-size: 0.9rem;
}

/* #endregion */

#see-more-btn {
    animation: float-in-space 3.5s ease-in-out infinite;
}

#closed {
    opacity: 0;
}

/* #region: footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

a {
    color:aliceblue;
    border-radius: 10px;
    padding: 5px;
}

footer p > a:hover {
    background-color: gray;
}
/* #endregion */

@keyframes float-in-space {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@media (min-width: 650px) {
    #full-screen {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    #hd-image {
        grid-row: 1/-1;
    }
}